# App
PORT=3000

# CORS
CORS_WHITELIST_REGEXP=^https?://(?:.+?\.)?(?:lido|testnet|mainnet)\.fi$

# The number of seconds that each request will last in storage
GLOBAL_THROTTLE_TTL=5

# The maximum number of requests within the TTL limit
GLOBAL_THROTTLE_LIMIT=100

# Cache expiration time in seconds
GLOBAL_CACHE_TTL=120

# Sentry DSN
SENTRY_DSN=

# Log level: debug, info, notice, warning or error
LOG_LEVEL=debug

# Log format: simple or json
LOG_FORMAT=json

# postgres configurations
POSTGRES_HOST=127.0.0.1

POSTGRES_PORT=5432

POSTGRES_USER=postgres

POSTGRES_PASSWORD=postgres

POSTGRES_DATABASE=vault-api

# CHAIN_ID
CHAIN_ID=560048

# Add and/or override Devnet contacts, naming like JSON file, example: network.example (network-configs/network.example.json)
CUSTOM_NETWORK_FILE_NAME=hoodi-devnet-0

# EL RPC URLs delimeted by commas, first entry is primary, else are fallbacks
EL_RPC_URLS=

# CL URLs delimeted by commas, first entry is primary, else are fallbacks
CL_API_URLS=

IPFS_GATEWAY=https://ipfs.io/ipfs
